<nav>
    <ul>
        <li class='home'>
            <a href="/"><img src="./icons/profile-icon.svg" alt="Home"></a>
        </li>
        <li class='explore'>
            <a href="#"><img src="./icons/Explore-icon.svg" alt="Explore"></a>
            <h1>Explore</h1>
        </li>
        <li class='mygames'>
            <a href="#"><img src="./icons/controller-icon.svg" alt="MyGames"></a>
            <h1>My Games</h1>
        </li>
        <li class='mybuddys'>
            <a href="#"><img src="./icons/Friends-icon.svg" alt="MyBuddys"></a>
            <h1>My Buddy's</h1>
        </li>
    </ul>
</nav>