<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Profile</title>
  <link href="./style.css" rel="stylesheet" type="text/css">
  <script src="index.js"></script>

</head>


<body class="index">

  <section class="wrapper">
      <%- include('./partials/nav.ejs'); %> 

      <!--main website section-->
      <section>
        <h1>My Profile</h1>

        <!--image, username, tag and edit button-->
        <section>
          <img src="./images/placeholder-photo.jpg">
          <h1><%= datacollected[0].username %></h1>
          <p><%= datacollected[0].username %>#<%= datacollected[0].tag %></p>
          <a href="/edit"><img src="./icons/Edit-icon.svg"></a>
        </section>

        <!--Overview, Info, Games-->
        <section>
          <ul>
            <li>
              <a href="#">Overview</a>
            </li>
            <li>
              <a href="#">Info</a>
            </li>
            <li>
              <a href="#">Games</a>
            </li>
          </ul>

          <hr/>

          <h2>Level: 12</h2>
          <p>Novice</p>
          <progress max="100" value="50"></progress>
          

        </section>
      </section>
  </section>


</body>
</html>



