<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs'); %>
</head>
<body>

<header>

</header>

<main>
    <%- include('partials/form.ejs'); %>
</main>

<footer>

</footer>

</body>
</html>



