
* {
    margin: 0;
    padding: 0;
}

/* Navbar */

nav{
    height: 100dvh;
    width: 9em;
    min-width: 9em;
  }
  nav ul{
    list-style-type: none;
    background: lightgrey;
    font-family: courier;
    width: 100%;
    height: 100dvh;
    flex-direction: colomn;
    margin: 0;
    padding: 0;
  }
  

  nav ul li{
  /*   background: grey; */
    margin-bottom: 3em;
    height: 10dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .explore a, .mygames a, .mybuddys a {
    background-color: grey;
    border-radius: 20px;
  }


  
  nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight:bold;
    padding: 0.5em;
    
  }
  

  .explore {
    margin-top: 8em;
  }

  nav ul li a img {
    width: 3em;
  }

  nav ul li:first-of-type a img {
    width: 3em;
    margin-top: 2em;
  }

  
  .active{
    background: grey;
  }

  /* section body wrapper */

  .wrapper {
    display: flex;
    flex-direction: row;
  }